
/** Modal */
.custom-modal .modal-content {
    border: 0;
    border-radius: 10px;
}

.form-header {
    text-align: center;
}

.form-header h3 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-header p {
    color: #929292;
    font-size: 15px;
    margin-bottom: 1.5em;
}
.p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

.btn-primary-cus {
    color: #6e6e6e;
}
.btn-primary-cus:hover {
    color: #fff;
    background-color: #f43b48;
}
.custom-modal .modal-body {
    padding: 30px;
}
.continue-btn {
    background-color: #fff;
    border: 1px solid #f43b48;
    border-radius: 50px;
    color: #f43b48;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.cancel-btn {
    background-color: #fff;
    border: 1px solid #f43b48;
    border-radius: 50px;
    color: #f43b48;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

/** End Modal */